.anime-detail {
  margin: 20px;
}

.detail-banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.anime-detail-header {
  color: red;
  border: 1px solid red;
  display: flex;
  gap: 20px;
}

.anime-detail-header img {
  max-width: 200px;
}

.gallery-images {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  max-height: 200px;
}
